#################################
## Backend Environment Variables
#################################
# Auth Provider (WorkOS)
AUTH_API_KEY=your_auth_api_key_here
AUTH_CLIENT_ID=your_auth_client_id_here

# Optional Configuration
BASE_URL=http://localhost:8000
DEBUG=false
AUTH_REDIRECT_URI=http://localhost:8000/api/v1/auth/callback
AUTH_COOKIE_PASSWORD=y0jN-wF1bIUoSwdKT6yWIHS5qLI4Kfq5TnqIANOxEXM=


START_SSH_PROXY_SERVER=true


## Frontend Environment Variables
#################################
# Example configurations:
# Development (separate frontend/backend): VITE_API_URL=http://localhost:8000/api/v1
# Production (unified): VITE_API_URL=/api/v1 (or leave blank)

VITE_API_URL=/api/v1