# Backend Environment Variables
WORKOS_API_KEY= #from workos dashboard
WORKOS_CLIENT_ID= #from workos dashboard
WORKOS_REDIRECT_URI=http://localhost:8000/auth/callback
WORKOS_COOKIE_PASSWORD= # can be generated with `openssl rand -base64 32``


# Development settings
PYTHONPATH=.
DEBUG=True
